@import "../core/include.part.less";

/**
 * ============================================================================
 * @file      layout.part.less
 * @desc      CORE-UI 레이아웃 구조 정의
 * @rule      
 * 1. 독립성 유지
 *  - 이 파일 내부에 선언된 변수는 외부에서 참조할 수 없음
 * @contents
 * 1. 레이아웃
 * 2. 레이아웃 구성요소
 * ============================================================================
 */
 
 
/* ==========================================================================
   레이아웃
 ========================================================================== */

.wrap {
	
}

/* ==========================================================================
   레이아웃 구성 요소
 ========================================================================== */

.breadcrumb-wrap {
}

.page-tit-wrap {
	.h-tit {
		font-size: @cl-pc-font-size-heading-small;
		font-weight: @cl-font-weight-bold;
		
		@media (max-width: calc(@{breakpoint-medium} - 1px)) {
			font-size: @cl-mobile-font-size-heading-small;
		}
	}
}

.page-btn-wrap {
	.cl-button {
		.cl-icon.icon {
		}
	}
}